{{#link-to "movies" class="btn btn-default"}}Back to List{{/link-to}}

<div class="media">
  <div class="media-left">
    <a href="javascript:void(0)">
      <img src="http://image.tmdb.org/t/p/w300{{model.poster_path}}" class="media-object">
    </a>
  </div>
  <div class="media-body">
    <h1 class="media-heading">{{model.title}}</h1>
    <hr>
    <ul class="list-unstyled">
      <li><strong>Release:</strong> {{model.release_date}}</li>
      <li><strong>Rating:</strong> {{model.vote_average}}</li>
      <li><strong>Vote:</strong> {{model.vote_count}}</li>
      <li><strong>Popularity:</strong> {{model.popularity}}</li>
    </ul>
    <p class="text-justify">{{model.overview}}</p>
  </div>
</div>
<hr>
<div class="thumbnail">
  <img src="http://image.tmdb.org/t/p/w1920{{model.backdrop_path}}">
</div>
